main
{
  text-align: center;
  margin:0 auto;
  margin-top: 50px;
  width: 25%
}

#input_nickname
{
  width: 70%
}


#create
{
	margin-top: 40px;
	margin-bottom: 20px;
}

#join
{
	margin-bottom: 20px;
}

