#play {
  margin-top: 40px;
  margin-bottom: 30px;
}

#players_panel {
  margin-left: 10px;
}

@media (max-width: 550px) {
  #players_panel {
    width: 100%;
    margin: 30px;
  }
}

#players_tag li {
  margin-left: 20px;
  list-style-type: decimal;
  margin-bottom: 10px;
}

#tip li {
  margin-bottom: 10px;
}

.game_options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.game_options_col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 10px;
}

.game_options_item_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
}

.game_options_item_col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.waiting_room_title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.waiting_room_title_col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 10px;
}

label.waiting_room_title_col {
  text-align: right;
  font-size: 25px;
  padding-top: 30px;
  padding-right: 30px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 10px;
}